<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.BBsRs.vkaudiosync"
    android:versionCode="15"
    android:versionName="1.0 Release b4" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.BBsRs.vkaudiosync.Application.VKMusicSyncApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Holo.Theme.Custom" >
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" android:theme="@style/Holo.Theme.Dialog"/>
        <activity
            android:name="LoaderActivity"
            android:theme="@style/Holo.Theme.Custom.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.DownloadService" >
        </service>

        <activity
            android:name="ContentShowActivity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="DirChooseActivity"
            android:theme="@style/Holo.Theme.Dialog.Custom" >
        </activity>

        <service android:name=".Services.AutomaticSynchronizationService" >
        </service>

        <receiver android:name=".Services.BootUpCatcherReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="DialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Holo.Theme.Custom.Transparent" >
        </activity>

        <receiver android:name=".Services.WiFiStateChangedReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name="com.BBsRs.Introduce.IntroduceOne" android:theme="@style/Holo.Theme.Light.Custom.NoActionBar.Introduce"></activity>
        <activity android:name="com.BBsRs.Introduce.IntroduceTwo" android:theme="@style/Holo.Theme.Light.Custom.NoActionBar.Introduce"></activity>
        <activity android:name="com.BBsRs.Introduce.IntroduceThree" android:theme="@style/Holo.Theme.Light.Custom.NoActionBar.Introduce"></activity>
        <activity android:name="com.BBsRs.Introduce.IntroduceFour" android:theme="@style/Holo.Theme.Light.Custom.NoActionBar.Introduce"></activity>
        <activity android:name="com.BBsRs.Introduce.IntroduceFive" android:theme="@style/Holo.Theme.Light.Custom.NoActionBar.Introduce"></activity>
    </application>

</manifest>