<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BBsRs.vkaudiosync"
    android:versionCode="6"
    android:versionName="0.5 alpha b2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.BBsRs.vkaudiosync.Application.VKMusicSyncApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Holo.Theme.Custom" >
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="LoaderActivity"
            android:theme="@style/Holo.Theme.Custom.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.DownloadService" >
        </service>

        <activity android:name="ContentShowActivity" android:launchMode="singleInstance">
        </activity>
        <activity android:name="DirChooseActivity" android:theme="@style/Holo.Theme.Dialog.Custom"></activity>
        <service android:name=".Services.AutomaticSynchronizationService">
        </service>
    </application>

</manifest>